/* ADD CUSTOM FONTS: */
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  overflow-x: hidden;
}

.left-img {
  width: 35vw;
  height: 100vh;
}
@font-face {
  font-family: "norse";
  src: url("/fonts/norse-bold-webfont.woff2") format("woff2"),
    url("/fonts/norse-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto-condensed-webfont.woff2") format("woff2"),
    url("fonts/roboto-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dunkin";
  src: url("fonts/dunkin_bold-webfont.woff2") format("woff2"),
    url("fonts/dunkin_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "modern-age";
  src: url("fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("fonts/madeinfinity_personaluse-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "infinity";
  src: url("fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("fonts/madeinfinity_personaluse-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.para {
  font-size: 19px;
  font-weight: 900;
  font-family: "roboto";
  /* Might have to move: */
  margin-left: 25px;
}
.header-container {
  margin-top: 150px;
}

.form-container {
  margin-top: 40px;
}
.container {
  display: flex;
  flex-direction: column;
}
.fieldset {
  border: 1px #ffffff;
  border-radius: 8px;
  box-shadow: -5px 10px 10px 1px #e0e0e1;
  background-color: #ffffff;
  margin-bottom: 18px;
  margin-left: 20px;
}
.fieldset {
  position: relative;
}
.fieldset legend {
  position: absolute;
  top: 20px;
  font-family: "modern-age";
  font-size: 1.3rem;
  font-weight: 800;
}
.first-last {
  margin-top: 65px;
}
.first-last,
.email-number,
.password-confirm {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.form-row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 8px 0;
}
.form-row input {
  width: 220px;
  height: 18px;

  border: 2px solid #e6e7eb;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 2px solid #809be5;
}
.form-row label {
  font-size: 1.1em;
  width: 200px;

  font-family: "modern-age";
}

.btn,
.log-in {
  font-family: "infinity";
  margin-left: 30px;
}

.btn {
  width: 150px;
  height: 45px;
  cursor: pointer;

  border-radius: 5px;

  font-weight: 900;

  color: #f7f7f7;
  background-color: #132028;
}
a[href="#form"] {
  color: #132028;
  font-weight: 900;
}

input[type="password"]:invalid {
  border: 2px solid #d77b7b;
}

.pass-msg {
  font-size: 0.8rem;
  color: #d77b7b;
  font-family: "infinity";
}

.hidden {
  display: none;
}

.btn:hover {
  color: #132028;
  background-color: #f7f7f7;

  transition: 0.3s ease-in;
}

.main {
  display: flex;
}

.left {
  position: relative;
}
.transparent {
  width: 35vw;
  height: 130px;

  position: absolute;
  top: 200px;
  background-color: rgba(12, 27, 34, 255);
  opacity: 0.7;
}
.logo {
  position: absolute;
  /* background-color: red; */
  top: 200px;
  left: 20px;

  width: 12vw;
  height: 130px;
}

.norse {
  font-family: "norse";
  position: absolute;

  color: #e0e0e1;
  font-size: 2.2rem;
  top: 240px;
  left: 240px;
}
